<html>
<head>
<title>Library</title>
</head>
<body>
     <div>
         <form action="/logout" method="post">
               <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
               <input type="submit" value="Sign Out"/>
         </form>
     </div>
     <head>Add book</head>
    <div>
        <form method="post">
            <input type="text" name="title" placeholder="Enter title of the book"/>
            <input type="text" name="author" placeholder="Enter author">
            <input type="text" name="genre" placeholder="Enter genre">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Book search</div>
     <form method="post" action="search">
         <input type="text" name="search" placeholder="Search by title">
         <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
         <button type="submit">Search</button>
     </form>
     <div>Library</div>
    {{#books}}
        <div>
            <b>{{id}}</b>
            <span>{{title}}</span>
            <i>{{author}}</i>
            <i>{{genre}}</i>
        </div>
    {{/books}}
         <div>Delete Book</div>
          <form method="post" action="delete">
              <input type="number" name="id" placeholder="Delete by Id">
              <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
              <button type="submit">Delete</button>
          </form>
</body>
</html>